<div class="width50">

	<h2>Edit video</h2>

	<%= render "form.html", changeset: @changeset, categories: @categories, action: video_path(@conn, :update, @video) %>
	<%= link "Back", to: video_path(@conn, :index) %>
</div>
