<%= form_for @changeset, @action, fn f -> %>
	<%= if @changeset.action do %>
		<div class="alert alert-danger">
		<p>Oops, something went wrong! Please check the errors below.</p>
		</div>
	<% end %>

	<div class="form-group">
		<%= label f, :url, class: "control-label" %>
		<%= text_input f, :url, class: "form-control" %>
		<%= error_tag f, :url %>
	</div>

	<div class="form-group">
		<%= label f, :title, class: "control-label" %>
		<%= text_input f, :title, class: "form-control" %>
		<%= error_tag f, :title %>
	</div>

	<div class="form-group">
		<%= label f, :description, class: "control-label" %>
		<%= textarea f, :description, class: "form-control" %>
		<%= error_tag f, :description %>
	</div>

	<div class="form-group">
		<%= label f, :category_id, "Category", class: "control-label" %>
		<%= select f, :category_id, @categories, class: "form-control", prompt: "Choose a category" %>
	</div>

	<div class="form-group">
		<%= submit "Submit", class: "btn btn-primary" %>
	</div>
<% end %>
