<div class="width50">
	
	<h2>New video</h2>

	<%= render "form.html", changeset: @changeset, categories: @categories, action: video_path(@conn, :create) %>
	<%= link "Back", to: video_path(@conn, :index) %>

</div>
