<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello Rumbl!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="container">
      <header class="header">
        <ol class="breadcrumb text-right">
		<%= if @current_user do %>
			<li><%= @current_user.username %></li>
			<li><%= link "My Videos", to: video_path(@conn, :index) %></li>
			<li><%= link "Logout", to: session_path(@conn, :delete, @current_user), method: "delete" %></li>
		<% else %>
			<li><%= link "Register", to: user_path(@conn, :new) %></li>
			<li><%= link "Login", to: session_path(@conn, :new) %></li>
		<% end %>
		</ol>
		<span class="logo"></span>
	</div>
      </header>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main" class="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
	<script>window.userToken = "<%= assigns[:user_token] %>"</script>
	<script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
